{% extends "./layout.html" %}
{% block content %}
<form method='POST' action="/employees/{{employee.id}}?_method=PUT">
  <input class='form-control' name='firstName' value='{{employee.firstName}}'/>
  <br>
  <input class='form-control' name='lastName' value='{{employee.lastName}}'/>
  <br>
  <input class='form-control' name='nicknames' value='{{employee.nicknames}}'/>
  <br>
  <button class='btn btn-outline-primary'>Update</button>
</form>
<form method='POST' action="/employees/{{employee.id}}?_method=DELETE">
<button class='btn btn-danger'>Delete {{employee.fullName}}</button>
</form>
{% endblock %}